.sidebar {
    width: 164px;
    min-height: calc(100vh - 50px);
    position: fixed;
}

.left-sidebar {
    padding-top: 24px;
    
    .nav-links {
        padding: 0;
        margin: 0 0 12px;
        list-style: none;
        a { 
            color: #535a60;
            text-decoration: none !important;
        }
    }

    .navlink {
        display: block;
        padding: 4px;
        line-height: 1.8;
        font-size: 13px;
        padding-left: 8px;
    }

    .navlink.active {
        font-weight: bold;
        background: rgba(12,13,14,0.05);
        border-right: 3px solid #f48024;
        color: #0c0d0e;
    }
}
